header{

color:white;
}


body{
background: #9885f4;
color: white;
}

article{


    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(91, 27, 130, 0.408);
    border-radius: 15px;
}


p{
    display: flex;
    align-items: center;
    justify-content: center;
}
#naslov{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: px;
    font-size: 3em;
    text-shadow: 1px 1.5px;
     background-color: rgba(81, 0, 168, 0.408);
    border-radius: 15px;
    margin-left: 45%;
    margin-right: 45%;
}

#linkovi{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
    padding: 1em;
    
    margin-left: 25%;
    margin-right: 25%;
    font-size: large;
    color:rgb(87, 16, 149);
    text-shadow: 1px 1px;
    background-color: rgba(255, 255, 255, 0.408);
    border-radius: 15px;
    
}

#naslovB{
    font-weight: bold;
    font-size: 2em;
padding: 1em;
text-shadow: 1px 1.5px;


}

#tekstB{
     padding-bottom: 30px;
    margin: 30px;
}

#slikice{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 3em;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
    background-color: rgba(255, 255, 255, 0.408);
    border-radius: 15px;
}

#kontaktT{
    padding: 1em;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1%;
}